.nav-button {
    padding: 5px;
}

.nav-button-selected {
    padding: 5px;
    font-weight: bold;
    background-color: #aaa;
}

div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}